*{
	margin: 0;
	padding: 0;
	outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

.strips{
	position: relative;
	top: -82px;
	background: url(./images/bg.svg) no-repeat;

	/*background: #FC427B;*/
}
 
.container1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
}

.c{
	width: 20px;
	height: 20px;
	position: relative;
	float: left;
}

.c::before{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #FC427B;
	animation: c 1s infinite;
}

.c2::before{
	animation-delay: 0.1s;
}

.c3::before{
	animation-delay: 0.2s;
}

.c4::before{
	animation-delay: 0.3s;
}

.c5::before{
	animation-delay: 0.4s;
}

@keyframes c{
	100%{
		width: 0;
		height: 0;
	}
}

.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic', sans-serif;  
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p{
	text-align: justify;
}

ul{
	margin: 0;
	padding: 0;

}

.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out;
}

.box li a:hover{
	color: #b9b9b9;
}

.blockquote{
	/*max-width: 600px;*/

	margin: 10px 30px;
	padding: 25px;
	background: #fff5fa;
	border: 1px solid #fac3e0;
	color: #2e0b25;
	box-sizing: border-box;
}

.blockquote--bordered{
	border-left-width: 10px;
}

.blockquote--quoted::before{
	content: "\201c";
	font-size: 100px;
	color: #e91e63;
	display: block;
	margin-bottom: -40px;
	margin-top: -20px;
}

.blockquote__text{
	font-family: 'Gelasio', serif;
	font-style: italic;
	font-size: 1.15em;
	line-height: 1.5;
	margin: 0;
}

.blockquote__text--credit{
	font-weight: bold;
	font-style: normal;
	text-align: right;
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
}

.blockquote__text--credit::before{
	content: "\2014\0020"
}

.timeline{
	padding-bottom: 100px;
	background-color: #2b272a;
}

.edu{
	color: #e91e63;
	font-weight: 700;
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 23px;
	font-family: 'Jura', sans-serif;
	font-size: 30px;
}

h1 span{
	color: white;
}
.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 3px #fff;
       	 
	background: #E91E63; 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#fcf5f9;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#737072;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:8px;
	height:8px;
	background:#777;
	margin:auto;
	border:solid 8px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#fa1474;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:10%;
	height:100%;
	background: #fa1474;	/* Tis the pink u lookin for */ 
	background: linear-gradient(to right, #fa1474 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	padding-bottom: 30px;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#393b3d;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

.boxa {
    float: left;
    margin-right: 10px;
}
.edup{
    color: #393b3d;
    font-size: 23px;
    line-height: 1.3em;
    font-family: 'Noto Sans JP', sans-serif;
}

.boxa{
	background: #000;
	background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
	background-size: 400% 400%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 200px;
	max-width: 100vw;
	max-height: 100vh;
	color: #fff;
	position: relative;
	transition: 0.5s all;
}

.imgbox{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.7;
	mix-blend-mode: screen;
}

.title{
	position: relative;
	z-index: 10;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-family: tahoma;
}

.boxa:hover{
	background-position: 100% 100%;
}

.boxa:hover .title{
	text-shadow: 0 0 20px #000;
}

.project{
	padding-bottom: 100px;
	background-color: #adaaad;
}

.pricing-table{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: min(1600px, 100%);
	margin: auto;
	padding: 40px;
}

.pricing-card{
	flex: 1;
	max-width: 360px;
	background-color: #fff;
	margin: 20px 10px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: #2d2d2d;
	transition: .3s linear;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Noto Sans JP', sans-serif;
	box-shadow: 5px 10px 18px #2f3030;
}

.pricing-card-header{
	background-color: #f53d8a;
	display: inline-block;
	color: #fff;
	padding: 12px 30px;
	border-radius: 0 0 20px 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
	box-shadow: 0 0 0 20em #f53d8a;
}

.pricing-card:hover, .pricing-card:hover .price{
	color: #fff;
}

.view-btn{
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 80px;
	border: 2px solid #f53d8a;
	color: #f53d8a;
	padding: 18px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: 500;
	transition: .3s linear;
	text-decoration: none;
}

.view-btn:hover{
	background-color: #f53d8a;
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 1100px){
	.pricing-card{
		flex: 50%;
	}
}

#proj{
	color: #f53d8a;
	font-weight: 700;
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 23px;
	font-family: 'Jura', sans-serif;
	font-size: 30px;
}

.cert{
	padding-bottom: 100px;
	background-color: #f53d8a;
}

#certi{
	color: #b81657;
	font-weight: 700;
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 23px;
	font-family: 'Jura', sans-serif;
	font-size: 30px;
}

.card{
	cursor: pointer;
	width: 300px;
	height: 300px;
	box-shadow: 5px 10px 18px #2f3030;
}

.front, .back{
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}

.front img{
	height: 300px;
	width: 300px;
}

.front{
	transform: perspective(300px) rotateY(0deg); 
}

.back{
	background: #1c1c1c;
	transform: perspective(300px) rotateY(180deg); 
}

.back-content{
	height: 200px;
	width: 200px;
	padding: 50px;
	color: #f1f1f1;
	text-align: center;
	font-family: 'Jura', sans-serif;
}

.card:hover > .front{
	transform: perspective(300px) rotateY(-180deg); 
}

.card:hover > .back{
	transform: perspective(300px) rotateY(0deg); 
}

.cert-btn{
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 2px solid #f1f1f1;
	color: #f1f1f1;
	padding: 18px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: 500;
	transition: .3s linear;
	text-decoration: none;
}

.cert-btn:hover{
	background-color: #f1f1f1;
	color: #1c1c1c;
	text-decoration: none;
	font-weight: bold;
}

.skills{
	width: 900px;
	margin: 60px auto;
	color: white;
}

.skills li{
	margin: 20px 0;
	font-family: 'Jura', sans-serif;
}

.bar{
	background: #e8dfe3;
	display: block;
	height: 7px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #FF0099;
}

.bar span{
	height: 7px;
	float: left;
	background: #fa2a93;
}

.html{
	width: 75%;
	animation: html 2s;
}

.css{
	width: 70%;
	animation: css 2s;
}

.python{
	width: 80%;
	animation: python 2s;
}

.cpp{
	width: 65%;
	animation: cpp 2s;
}

.sql{
	width: 68%;
	animation: sql 2s;
}

@keyframes html{
	0%{
		width: 0%;
	}
	100%{
		width: 75%;
	}
}

@keyframes cpp{
	0%{
		width: 0%;
	}
	100%{
		width: 65%;
	}
}

@keyframes python{
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
}

@keyframes sql{
	0%{
		width: 0%;
	}
	100%{
		width: 68%;
	}
}

@keyframes css{
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}